$listFontStyle: (
  normal,
  italic,
  oblique,
);

@each $style in $listFontStyle {
  .font-#{$style} {
    font-style: $style !important;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .font-#{$keySize}-#{$style} {
        font-style: $style !important;
      }
    }
  }
}
