$listFontWeight: (
  normal,
  bold,
  lighter,
  bolder,
);

@each $weight in $listFontWeight {
  .font-#{$weight} {
    font-weight: $weight !important;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .font-#{$keySize}-#{$weight} {
        font-weight: $weight !important;
      }
    }
  }
}
