$listOverflowWrap: (
  normal,
  anywhere,
  break-word,
);

@each $wrap in $listOverflowWrap {
  .text-wrap-#{$wrap} {
    overflow-wrap: $wrap !important;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .text-wrap-#{$keySize}-#{$wrap} {
        overflow-wrap: $wrap !important;
      }
    }
  }
}
