$listTextDecoration: (
  underline,
  none,
);

@each $decoration in $listTextDecoration {
  .text-decoration-#{$decoration} {
    text-decoration: $decoration !important;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .text-decoration-#{$keySize}-#{$decoration} {
        text-decoration: $decoration !important;
      }
    }
  }
}
