$listTextAlign: (
  left,
  right,
  center,
  justify,
  justify-all,
  start,
  end,
  match-parent
);

@each $align in $listTextAlign {
  .text-#{$align} {
    text-align: $align !important;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .text-#{$keySize}-#{$align} {
        text-align: $align !important;
      }
    }
  }
}
