$listTextTransform: (
  capitalize,
  uppercase,
  lowercase,
  none,
);

@each $transform in $listTextTransform {
  .text-#{$transform} {
    text-transform: $transform !important;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .text-#{$keySize}-#{$transform} {
        text-transform: $transform !important;
      }
    }
  }
}
