$listTextOverflow: (
  clip,
  ellipsis,
);

@each $overflow in $listTextOverflow {
  .text-#{$overflow} {
    text-overflow: $overflow !important;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .text-#{$keySize}-#{$overflow} {
        text-overflow: $overflow !important;
      }
    }
  }
}
