$listWhiteSpace: (
  normal,
  nowrap,
  pre,
  pre-wrap,
  pre-line,
  break-spaces,
);

@each $space in $listWhiteSpace {
  .white-space-#{$space} {
    white-space: $space !important;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .white-space-#{$keySize}-#{$space} {
        white-space: $space !important;
      }
    }
  }
}
