
.button {
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-decoration: none;
  vertical-align: center;
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
  border-radius: $box-rounded;
  padding: .575rem .95rem;
  position: relative;
  font-size: 1rem;
  outline: none;
}

@each $colorKey, $color in $template {
  .button-#{$colorKey} {
    background: $color;
    box-shadow: 0 0 1px 2px darken($color, 10);
    color: contrastColor($color);

    &:hover {
      background: lighten($color, 2);
      box-shadow: 0 0 1px 2px lighten($color, 12);
      color: contrastColor(lighten($color, 2));
    }

    &:focus {
      box-shadow: 0 0 1px 2px darken($color, 40);
    }
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .button-#{$keySize}-#{$colorKey} {
        background: $color;
        border-color: $color;
      }
    }
  }
}
