$primary: #8290c4 !default;
$primary-200: darken($primary, 20) !default;

$box-rounded: .3rem !default;
$hoverPrefix: 'is-hover' !default;
$sizing: 10 !default;

$warning: #ffac30 !default;
$danger: #cf4848 !default;
$light: #F9F9F9 !default;

$dark: #000000 !default;
$dark-100: #262626 !default;
$dark-200: #292929 !default;

$body-color: $light !default;
$text-color: $dark !default;

$divider-color: $light !default;
$divider-opacity: .2 !default;

$template: (
  primary: $primary,
  primary-200: $primary-200,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  dark-100: $dark-100,
  dark-200: $dark-200,
) !default;

:root {
  @each $key, $theme in $template {
    --#{$key}: #{$theme};
  }
}

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1330px
) !default;

body {
  background: $body-color;
  color: $text-color;
  font-family: "Whitney Book Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


// Message author
// font-family:'Whitney Bold';font-weight:normal;font-size:42px

// Message content
// font-family:'Whitney Book Regular';font-weight:normal;font-size:42px

// Direct Message Author
// font-family:'Whitney Book Regular';font-weight:bolder;font-size:42px

// Direct Message Activity
// font-family:'Whitney Book Regular';font-weight:normal;font-size:42px


