@each $key, $color in $template {
    .bg-#{$key} {
        background: $color !important;
    }
    .#{$hoverPrefix}-bg-#{$key}:hover {
        background: $color !important;
    }

    @each $keySize, $size in $grid-breakpoints {
        @media (min-width: $size) {
            .bg-#{$keySize}-#{$key} {
                background: $color !important;
            }
            .#{$hoverPrefix}-bg-#{$keySize}-#{$key}:hover {
                background: $color !important;
            }
        }
    }
}
