.border-0 {
  border: 0;
}

@each $key, $color in $template {
  .border-#{$key} {
    border-color: $color;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .border-#{$keySize}-#{$key} {
        border-color: $color;
      }
    }
  }
}

@each $key, $color in $template {
  .#{$hoverPrefix}-border-#{$key} {
    border-color: $color;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .#{$hoverPrefix}-border-#{$keySize}-#{$key} {
        border-color: $color;
      }
    }
  }
}

