$listCursors: (
  alias,
  all-scroll,
  auto,
  cell,
  context-menu,
  col-resize,
  copy,
  crosshair,
  default,
  e-resize,
  ew-resize,
  grab,
  grabbing,
  help,
  move,
  n-resize,
  ne-resize,
  nesw-resize,
  ns-resize,
  nw-resize,
  nwse-resize,
  no-drop,
  none,
  not-allowed,
  pointer,
  progress,
  row-resize,
  s-resize,
  se-resize,
  sw-resize,
  text,
  w-resize,
  wait,
  zoom-in,
  zoom-out
);

@each $cursor in $listCursors {
  .cursor-#{$cursor} {
    cursor: $cursor;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .cursor-#{$keySize}-#{$cursor} {
        cursor: $cursor;
      }
    }
  }
}
