$listDisplays: (
    none,
    inline,
    inline-block,
    block,
    table,
    table-cell,
    table-row,
    flex,
    inline-flex,
);

@each $display in $listDisplays {
    .d-#{$display} {
        display: $display !important;
    }

    @each $key, $size in $grid-breakpoints {
        @media (min-width: $size) {
            .d-#{$key}-#{$display} {
                display: $display !important;
            }
        }
    }
}


