@for $i from 0 through 10 {
    .opacity-#{$i} {
        opacity: $i / 10;
    }

    @each $keySize, $size in $grid-breakpoints {
        @media (min-width: $size) {
            .opacity-#{$keySize}-#{$i} {
                opacity: $i / 10;
            }
        }
    }
}
