$listPosition: (
    static,
    relative,
    absolute,
    fixed,
    sticky,
);

@each $position in $listPosition {
    .position-#{$position} {
        position: $position !important;
    }

    @each $keySize, $size in $grid-breakpoints {
        @media (min-width: $size) {
            .position-#{$keySize}-#{$position} {
                position: $position !important;
            }
        }
    }
}
