$listRounded: (
        top: (
                border-top-left-radius
                border-top-right-radius
        ),
        right: (
                border-top-right-radius
                border-bottom-right-radius
        ),
        bottom: (
                border-bottom-left-radius
                border-bottom-right-radius
        ),
        left: (
                border-top-left-radius
                border-bottom-left-radius
        ),
);

.rounded {
  border-radius: #{$box-rounded} !important;
}

@each $keySize, $size in $grid-breakpoints {
  @media (min-width: $size) {
    .rounded-#{$keySize} {
      border-radius: #{$box-rounded} !important;
    }
  }
}

.rounded-0 {
  border-radius: 0 !important;
}

@each $keySize, $size in $grid-breakpoints {
  @media (min-width: $size) {
    .rounded-#{$keySize}-0 {
      border-radius: 0 !important;
    }
  }
}

.rounded-circle {
  border-radius: 50% !important;
}

@each $keySize, $size in $grid-breakpoints {
  @media (min-width: $size) {
    .rounded-circle-#{$keySize} {
      border-radius: 50% !important;
    }
  }
}

@each $key, $rounded in $listRounded {
  @each $type in $rounded {
    .rounded-#{$key} {
      #{$type}: #{$box-rounded} !important;
    }

    @each $keySize, $size in $grid-breakpoints {
      @media (min-width: $size) {
        .rounded-#{$keySize}-#{$key} {
          #{$type}: #{$box-rounded} !important;
        }
      }
    }
  }
}

.#{$hoverPrefix}-rounded:hover {
  border-radius: #{$box-rounded} !important;
}

@each $keySize, $size in $grid-breakpoints {
  @media (min-width: $size) {
    .#{$hoverPrefix}-rounded-#{$keySize}:hover {
      border-radius: #{$box-rounded} !important;
    }
  }
}

.#{$hoverPrefix}-rounded-0:hover {
  border-radius: 0 !important;
}

@each $keySize, $size in $grid-breakpoints {
  @media (min-width: $size) {
    .#{$hoverPrefix}-rounded-#{$keySize}-0:hover {
      border-radius: 0 !important;
    }
  }
}

.#{$hoverPrefix}-rounded-circle:hover {
  border-radius: 50% !important;
}

@each $keySize, $size in $grid-breakpoints {
  @media (min-width: $size) {
    .#{$hoverPrefix}-rounded-#{$keySize}-circle:hover {
      border-radius: 50% !important;
    }
  }
}

@each $key, $rounded in $listRounded {
  @each $type in $rounded {
    .#{$hoverPrefix}-rounded-#{$key}:hover {
      #{$type}: #{$box-rounded} !important;
    }

    @each $keySize, $size in $grid-breakpoints {
      @media (min-width: $size) {
        .#{$hoverPrefix}-rounded-#{$keySize}-#{$key}:hover {
          #{$type}: #{$box-rounded} !important;
        }
      }
    }
  }
}
