@mixin sizing($prefix, $type, $suffix) {
    @for $i from 1 through 100 / $sizing {
        .#{$prefix}-#{$i*$sizing} {
            #{$type}: #{$i*$sizing}#{$suffix} !important;
        }

        @each $keySize, $size in $grid-breakpoints {
            @media (min-width: $size) {
                .#{$prefix}-#{$keySize}-#{$i*$sizing} {
                    #{$type}: #{$i*$sizing}#{$suffix} !important;
                }
            }
        }
    }
}

@include sizing(h, height, '%');
@include sizing(w, width, '%');
@include sizing(mh, max-height, '%');
@include sizing(mw, max-width, '%');

@include sizing(hv, height, 'vh');
@include sizing(wv, width, 'wv');
//@include sizing(mhv, max-height, 'vh');
//@include sizing(mwv, max-width, 'wh');


