$defaultValue: .2rem;

@mixin spacing($prefix, $type) {
    $list: (
        #{$prefix}: (
            #{$type}
        ),
        #{$prefix}x: (
            #{$type}-left,
            #{$type}-right
        ),
        #{$prefix}y: (
            #{$type}-top,
            #{$type}-bottom
        ),
        #{$prefix}t: (
            #{$type}-top
        ),
        #{$prefix}b: (
            #{$type}-bottom
        ),
        #{$prefix}l: (
            #{$type}-left
        ),
        #{$prefix}r: (
            #{$type}-right
        )
    );

    @each $key, $spacing in $list {
        @for $i from 0 through 10 {
            .#{$key}-#{$i} {
                @each $type in $spacing {
                    #{$type}: $i*$defaultValue !important;
                }
            }
        }

        .#{$key}-auto {
            @each $type in $spacing {
                #{$type}: auto !important;
            }
        }

        @each $keySize, $size in $grid-breakpoints {
            @media (min-width: $size) {
                @for $i from 0 through 10 {
                    .#{$key}-#{$keySize}-#{$i} {
                        @each $type in $spacing {
                            #{$type}: $i*$defaultValue !important;
                        }
                    }
                }

                .#{$key}-#{$keySize}-auto {
                    @each $type in $spacing {
                        #{$type}: auto !important;
                    }
                }
            }
        }
    }
}

@include spacing(m, margin);
@include spacing(p, padding);
