@each $key, $color in $template {
    .text-#{$key} {
        color: $color !important;
    }
    .#{$hoverPrefix}-text-#{$key}:hover {
        color: $color !important;
    }

    @each $keySize, $size in $grid-breakpoints {
        @media (min-width: $size) {
            .text-#{$keySize}-#{$key} {
                color: $color !important;
            }
            .#{$hoverPrefix}-text-#{$keySize}-#{$key}:hover {
                color: $color !important;
            }
        }
    }
}
