$listFlexAlignContent: (
    center,
    start,
    end,
    flex-start,
    flex-end,
    space-between,
    space-around,
    space-evenly
);

@each $align in $listFlexAlignContent {
    .align-content-#{$align} {
        align-content: #{$align} !important;
    }

    @each $keySize, $size in $grid-breakpoints {
        @media (min-width: $size) {
            .align-content-#{$keySize}-#{$align} {
                align-content: #{$align} !important;
            }
        }
    }
}
