$listFlexAlignItems: (
    stretch,
    center,
    start,
    end,
    flex-start,
    flex-end,
    self-start,
    self-end,
    baseline,
);

@each $align in $listFlexAlignItems {
    .align-items-#{$align} {
        align-items: #{$align} !important;
    }

    @each $keySize, $size in $grid-breakpoints {
        @media (min-width: $size) {
            .align-items-#{$keySize}-#{$align} {
                align-items: #{$align} !important;
            }
        }
    }
}
