$listFlexDirection: (
    row,
    row-reverse,
    column,
    column-reverse
);

@each $direction in $listFlexDirection {
    .flex-#{$direction} {
        flex-direction: #{$direction} !important;
    }

    @each $keySize, $size in $grid-breakpoints {
        @media (min-width: $size) {
            .flex-#{$keySize}-#{$direction} {
                flex-direction: #{$direction} !important;
            }
        }
    }
}
