$listFlexJustifyContent: (
    center,
    start,
    end,
    flex-start,
    flex-end,
    left,
    right
    space-between,
    space-around,
    space-evenly,
    stretch
);

@each $justify in $listFlexAlignContent {
    .justify-content-#{$justify} {
        justify-content: #{$justify} !important;
    }

    @each $keySize, $size in $grid-breakpoints {
        @media (min-width: $size) {
            .justify-content-#{$keySize}-#{$justify} {
                justify-content: #{$justify} !important;
            }
        }
    }
}
