$listFlexWrap: (
    nowrap,
    wrap,
    wrap-reverse,
);

@each $direction in $listFlexWrap {
    .flex-#{$direction} {
        flex-wrap: #{$direction} !important;
    }

    @each $keySize, $size in $grid-breakpoints {
        @media (min-width: $size) {
            .flex-#{$keySize}-#{$direction} {
                flex-wrap: #{$direction} !important;
            }
        }
    }
}
