$listBoxSizing: (
  content-box,
  border-box,
);

@each $size in $listBoxSizing {
  .box-#{$size} {
    box-sizing: $size !important;
  }

  @each $keySize, $widthSize in $grid-breakpoints {
    @media (min-width: $widthSize) {
      .box-#{$keySize}-#{$size} {
        box-sizing: $size !important;
      }
    }
  }
}
