.divider-x {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 1px;
  background-color: $divider-color;
  opacity: $divider-opacity;
}

.divider-y {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 1px;
  background-color: $divider-color;
  opacity: $divider-opacity;
}
