$listOverflow: (
  visible,
  hidden,
  clip,
  scroll,
  auto,
);

@each $overflow in $listOverflow {
  .overflow-#{$overflow} {
    overflow: $overflow !important;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .overflow-#{$keySize}-#{$overflow} {
        overflow: $overflow !important;
      }
    }
  }
}

@each $overflow in $listOverflow {
  .overflow-y-#{$overflow} {
    overflow-y: $overflow !important;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .overflow-y-#{$keySize}-#{$overflow} {
        overflow-y: $overflow !important;
      }
    }
  }
}

@each $overflow in $listOverflow {
  .overflow-x-#{$overflow} {
    overflow-x: $overflow !important;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .overflow-x-#{$keySize}-#{$overflow} {
        overflow-x: $overflow !important;
      }
    }
  }
}
