$listPointerEvent: (
  auto,
  none,
  stroke,
  fill,
);

@each $event in $listPointerEvent {
  .pointer-#{$event} {
    pointer-events: $event !important;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .pointer-#{$keySize}-#{$event} {
        pointer-events: $event !important;
      }
    }
  }
}
