$listUserSelect: (
  none,
  auto,
  text,
  contain,
  all,
);

@each $select in $listUserSelect {
  .user-#{$select} {
    user-select: $select !important;
  }

  @each $keySize, $size in $grid-breakpoints {
    @media (min-width: $size) {
      .user-#{$keySize}-#{$select} {
        user-select: $select !important;
      }
    }
  }
}
